body {
  line-height: 0.7 em;
  font-size: 110%;
  text-align: justify;
  line-height: 1.5em;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

h2 {
  margin-bottom: 1px !important;
  /*border-bottom:1px solid #e7e7ce;*/
}

p.summary {
  margin-top: 0px;
  border-bottom:1px solid #e7e7ce;
}

ol li p {
  margin: 0;
  padding: 0;
}

ol li {
  margin: 0 0 5px 0;
}

#news, #summary, #quote-of-the-day, #research-projects, #notes, #publications, #oral-presentations, #theses, #fonari-scholarship-for-undergraduate-stem-students {
  color: #961E1E;
}

.footer {
  border-top:1px solid #e7e7ce;
}

.warning {
    background-color: #ffe866;
}
