<!-- subtitle: Home -->
<h3>About me</h3>
<ul>
  <li>I develop software to solve scientific problems in the field of materials science.</li>
  <!--<li>More than five years of experience with Perl, Python and Fortran languages.</li>-->
  <li>Contributed to several quantum chemistry and condensed matter software packages:
    <ul>
      <li>NWChem (5M+ lines), Quantum Espresso (500K+ lines), OpenBabel, <em>etc.</em></li>
    </ul>
  </li>
</ul>

<!--<h3>News</h3>
<ul>
  <li><a href="#25-Feb-2020">25 Feb 2020</a>: How-to <a href="https://gist.github.com/afonari/3b444c8c52286ecf3922b401b4dd9c82" target="_blank">setup Firefox DOH with dnscrypt-proxy, Let&#39;s Encrypt and nextdns.io.</a></li>
  <li><a href="#30-Nov-2019">30 Nov 2019</a>: Moved this site to use <a href="https://github.com/sunainapai/makesite" target="_blank">makesite.py</a>!</li>
  <li><a href="#10-Nov-2019">10 Nov 2019</a>: Open Babel 3 <a href="https://open-babel.readthedocs.io/en/latest/ReleaseNotes/ob300.html" target="_blank">is released</a> with some of my code!</li>
  <li><a href="#29-Sep-2019">29 Sep 2019:</a> After Chrome #Varsectomy, I&#39;m using <code class="inline">brew cask</code> to <a href="https://github.com/Homebrew/homebrew-cask/issues/69898" target="_blank">update Chrome</a>.</li>
  <li><a href="#20-Sep-2017">20 Sep 2017</a>: Quantum ESPRESSO <a href="https://www.schrodinger.com/products/quantum-espresso" target="_blank">integration</a> with Schrödinger Materials Science Suite</li>
</ul>-->
