<!DOCTYPE html>
<html>
<head>
    <title>Alexandr Fonari - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://afonari.com/" />
    <style>
@media screen and (max-width: 800px) {
  /* mobile: distance from left/right edge */
  body {
    padding: 0 1em;
  }
}

/* wide screens: Center and limit width for readability */
@media screen and (min-width: 801px) {
  body {
    margin: 0 auto;
    font-size: large;
    max-width: 800px;
  }

body {
  font-size: large;
  text-align: justify;
  line-height: 1.5em;
  font-family: sans-serif;
}

h2 {
  margin-bottom: 1px !important;
  /*border-bottom:1px solid #e7e7ce;*/
}

p.summary {
  margin-top: 0px;
  border-bottom:1px solid #e7e7ce;
}

ol li p {
  margin: 0;
  padding: 0;
}

ol li {
  margin: 0 0 5px 0;
}

.footer {
  border-top:1px solid #e7e7ce;
}

.warning {
    background-color: #ffe866;
}

code {
  font-family: monospace;
  display: block;
  white-space: pre;
  background: #faf8f0;
  padding: 0px 0px 0px 30px;
}

code.inline {
  display: inline;
  white-space: initial;
  padding: initial;
}
    </style>
</head>

<body id="{{ slug }}" >
<h2>Alexandr Fonari, PhD</h2>
<p class="summary">(firstname.lastname@schrodinger.com)<br />Principal Scientist at Schrödinger, New York, NY</p>
<nav>
<section>
    <div class="menu">
        <a href="/">Home</a> |
        <a href="https://scholar.google.com/citations?user=ZkBvorAAAAAJ" target="_blank">Publications <img src="{{ base_path }}/new_window.png" alt=""/></a> |
        <a href="{{ base_path }}/scholarship/">Scholarship</a><br />
        Projects:
        <a href="https://github.com/afonari/emc/" target="_blank">Effective Mass Calculator <img src="{{ base_path }}/new_window.png" alt=""></a> |
        <a href="{{ base_path }}/ant-pmda-vib/">Ant-PMDA Vibrations</a> |
        <a href="/pentacene-vibrations/index.html" target="_blank">Pentacene Vibrations <img src="{{ base_path }}/new_window.png" alt=""></a>
    </div>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>Copyright &copy; {{ current_year }} Alexandr Fonari. Hosted on <a href="https://gitlab.com/afonari/afonari.gitlab.io/tree/master" target="_blank">Gitlab <img src="{{ base_path }}/new_window.png" alt="" /></a></p>
</section>
</footer>

</body>
</html>
