<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
   <!--<script type="text/javascript">
   var host = "afonari.com";
   if ((host == window.location.host) && (window.location.protocol != 'https:')) {
      window.location = window.location.toString().replace(/^http:/, "https:");
   }
   </script>-->
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Alexandr Fonari" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/code.css" type="text/css" media="screen, projection" />

</head>
<body>
<div style="max-width: 800px; margin: 0px auto;">
<h2 id="alexandr-fonari-firstname-lastname-gatech-edu">Alexandr Fonari, PhD<br/>(firstname.lastname@schrodinger.com)</h2>
<p class="summary">Senior Scientist at Schr&ouml;dinger, New York, NY
</p>
<div class="menu">
  <a href="/">Home</a> | <a href="https://scholar.google.com/citations?user=ZkBvorAAAAAJ" target="_blank">Publications <img src="/img/new_window.png" alt="Will open in a new window" /></a> | <a href="/scholarship.html">Scholarship</a> | <a href="https://www.linkedin.com/in/alexandrfonari" target="_blank">LinkedIn <img src="/img/new_window.png" alt="Will open in a new window" /></a> | Found a bug? <a href="https://gitlab.com/afonari/afonari.gitlab.io/issues">Submit an issue!</a><br />
  Projects: <a href="https://github.com/afonari/emc/">Effective Mass Calculator <img src="/img/new_window.png" alt="Will open in a new window" /></a> | <a href="/ant-pmda-vib.html">Ant-PMDA Vibrations</a> | <a href="/pentacene-vibrations/index.html" target="_blank">Pentacene Vibrations <img src="/img/new_window.png" alt="Will open in a new window" /></a>
</div>

{{ content }}

<!-- <script type="text/javascript">
    window.addEventListener('load', function()
    {
        if(window.ga && ga.create)
        {
            var war = document.getElementById('warning')
            war.innerHTML = '<p class="warning">';
            war.innerHTML +='Google Analytics has been loaded. For your own privacy, ';
            war.innerHTML += 'install an ad blocker. This and this are the good ones.';
            war.innerHTML += '</p>';
        }
    }, false);
</script>-->

<div id="warning" class="warning"></div>
<p class="footer">Copyright &copy; 2022 by Alexandr Fonari. Hosted on <a href="https://gitlab.com/afonari/afonari.gitlab.io/tree/master" target="_blank">Gitlab <img src="/img/new_window.png" alt="Will open in a new window" /></a></p>
</div>
</body>
</html>
